footer {
    text-align: center;
}

#happy {
    size: 50%;
}

.from {
    text-align: center;
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #size {
        width: 40px;
        height: 40px;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    #size {
        width: 40px;
        height: 40px;
    }
}